<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sol Bettoni</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">  

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-light centrado">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../index.html">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./aboutme.html">SOBRE MI</a>
                </li>                  
                <li class="nav-item">
                  <a class="nav-link" href="./portfolio.html">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../index.html"><img src="../images/Untitled-1ddd.png" alt="logo"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./servicios.html">SERVICIOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./contacto.html">CONTACTO</a>
                </li>
                <li class="nav-item socialMedia">
                    <ul class="redes">
                      <li>
                        <a href="https://www.instagram.com/sol_bettoni/"target="_blank"><i class="fab fa-instagram"></i> </a>
                      </li>
          
                      <li>
                        <a href="https://api.whatsapp.com/send?phone=5491134214180&text=%C2%A1Buenos%20d%C3%ADas%20Sweet%20Take%20Away!%20Soy"target="_blank"> <i class="fab fa-whatsapp"></i> </a>
                      </li>
          
                      <li>
                        <a href="https://www.linkedin.com/in/sol-bettoni-b20546102/"target="_blank"> <i class="fab fa-linkedin-in"></i> </a>
                      </li>
          
                      <li>
                        <a href="https://www.behance.net/solbettoni"target="_blank"> <i class="fab fa-behance"></i> </a>
                      </li>
                    </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav>
  </header>

    <section>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../images/05-24_SIMEOOO.png" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="../images/12-01_PRIMDIVISIONBELGICA.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../images/12_14-EUROPALEAGUE (2).png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

      <section class="portfolio">
        <h2><a href="./editorial.html">Editorial</a></h2>
        <h2><a href="./tv.html">TV</a></h2>
        <h2><a href="./socialmedia.html">Social Media</a></h2>
        <h2><a href="./publicidades.html">Publicidades</a></h2>
      </section>

      <footer>
        <div class="logo__footer">
          <a href="../index.html"><img src="../images/Untitled-1ddd.png" alt="logo"/></a>
        </div>
  
        <div class="copyright">
          <p class="text__copy">® 2021 Todos los derechos reservados</p>
  
          <ul class="redesFooter">
            <li>
                <a href="https://www.instagram.com/sol_bettoni/"target="_blank"><i class="fab fa-instagram"></i> </a>
              </li>
  
              <li>
                <a href="https://api.whatsapp.com/send?phone=5491134214180&text=%C2%A1Buenos%20d%C3%ADas%20Sweet%20Take%20Away!%20Soy"target="_blank"> <i class="fab fa-whatsapp"></i> </a>
              </li>
  
              <li>
                <a href="https://www.linkedin.com/in/sol-bettoni-b20546102/"target="_blank"> <i class="fab fa-linkedin-in"></i> </a>
              </li>
  
              <li>
                <a href="https://www.behance.net/solbettoni"target="_blank"> <i class="fab fa-behance"></i> </a>
              </li>
          </ul>
  
          <p class="author">Sitio desarrollado por Sol Bettoni</p>
        </div>
      </footer>

    <script src="https://kit.fontawesome.com/b2b5ebf5ab.js" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>