<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sol Bettoni</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">  

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <section class="background--black">
    <header class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-light centrado">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../index.html">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./aboutme.html">SOBRE MI</a>
                </li>                  
                <li class="nav-item">
                  <a class="nav-link" href="./portfolio.html">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../index.html"><img src="../images/Untitled-1ddd.png" alt="logo"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./servicios.html">SERVICIOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./contacto.html">CONTACTO</a>
                </li>
                <li class="nav-item socialMedia">
                    <ul class="redes">
                        <li>
                          <a href=""> <i class="fab fa-instagram"></i> </a>
                        </li>
      
                        <li>
                          <a href=""> <i class="fab fa-whatsapp"></i> </a>
                        </li>
      
                        <li>
                          <a href=""> <i class="fab fa-linkedin-in"></i></a>
                        </li>
      
                        <li>
                          <a href=""> <i class="fab fa-behance"></i></a>
                        </li>
                    </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav>
  </header>
    
        <section class="container">
          <div class='sol-la-mas-linda'>
            <div class='sol-la-mas-linda-dos'>
              <h2>
                Estrategia Digital MKT
              </h2>
              <p>
                Una estrategia de marketing digital es la planificación de ciertos pasos para llegar a objetivos definidos por medios online, que conlleva aspectos como la creación y difusión de contenidos a través de los sitios web y las redes sociales, la gestión de correos electrónicos y blogs, entre otros.
              </p>
            </div>
            <div>
              <img src="../images/Untitled-1-01.jpg" alt="">
            </div>
          </div>
          <div class='sol-la-mas-linda'>
            <div class='sol-la-mas-linda-dos'>
              <h2>
                Branding
              </h2>
              <p>
                El objetivo principal del branding es extender la marca de la empresa en el mercado, posicionarla y ubicarla en la mente de los consumidores. Se comienza diseñando un plan de marketing, donde se especifique las acciones que se llevarán a cabo para dar a conocer la marca, teniendo en cuenta el diseño de la marca y los canales para darla a conocer. Una buena estrategia de branding costa de unos conceptos que se debe de desarrollar para que el usuario visualice nuestros productos o servicios y piense en ella.
              </p>
            </div>
            <div>
              <img src="../images/Untitled-1-02.jpg" alt="">
            </div>
          </div>
          <div class='sol-la-mas-linda'>
            <div class='sol-la-mas-linda-dos'>
              <h2>
                Diseño Editorial
              </h2>
              <p>
                Consiste en proyectar comunicaciones visuales destinadas a transmitir mensajes específicos a grupos sociales, con objetivos determinados y que ayuda a optimizar las comunicaciones gráficas dedicada al diseño, maquetación y composición de publicaciones (impresas o digitales) tales como revistas, periódicos, libros o arte de tapa en discos.
              </p>
            </div>
            <div>
              <img src="../images/Untitled-1-03.jpg" alt="">
            </div>
          </div>
      </section>
        </section>
    </section>


    <footer>
      <div class="logo__footer">
        <a href="../index.html"><img src="../images/Untitled-1ddd.png" alt="logo"/></a>
      </div>

      <div class="copyright">
        <p class="text__copy">® 2021 Todos los derechos reservados</p>

        <ul class="redesFooter">
          <li>
              <a href=""> <i class="fab fa-instagram"></i> </a>
            </li>

            <li>
              <a href=""> <i class="fab fa-whatsapp"></i> </a>
            </li>

            <li>
              <a href=""> <i class="fab fa-linkedin-in"></i> </a>
            </li>

            <li>
              <a href=""> <i class="fab fa-behance"></i> </a>
            </li>
        </ul>

        <p class="author">Sitio desarrollado por Sol Bettoni</p>
      </div>
    </footer>

<script src="https://kit.fontawesome.com/b2b5ebf5ab.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>