* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: transparent;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0; }

header img {
  margin: 0 50px; }

nav .nav-link {
  color: white !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.socialMedia ul {
  display: flex;
  align-content: center;
  padding: 0;
  margin-left: 8%; }

.socialMedia ul li {
  list-style-type: none; }

.fab {
  color: white; }

.redes li {
  margin-left: 10px; }

h1 {
  font-size: 100px;
  font-family: 'Amaranth', sans-serif;
  margin-left: 80px;
  color: #d1a89d;
  word-spacing: normal; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center; }

.redesFooter {
  display: flex;
  margin: 0;
  padding: 0; }

.redesFooter li {
  list-style-type: none;
  color: black;
  margin: 5px 5px;
  padding: 0; }

.alto {
  height: 150px;
  background-color: black; }

.background--black {
  background-color: black;
  color: white; }

.copyright {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.text__copy, .author {
  width: 40%;
  font-size: 12px;
  margin: 0; }

/*Prueba 1*/
.about--me {
  display: flex; }

.prueba {
  display: flex;
  flex-direction: column; }

.capa {
  margin-left: 5%; }

.centrado {
  display: flex;
  justify-content: center; }

/* Prueba 2*/
footer {
  padding-bottom: 20px; }

.sobreMi {
  display: flex; }

.especial {
  color: black;
  margin-left: 10%; }

.facha {
  filter: grayscale(100%);
  transition: all .5s; }

.facha:hover {
  filter: none; }

/* Prueba 3 Sol Menu hamburguesa*/
.navbar-toggler {
  background-color: white; }

body {
  background-color: black; }

.principal {
  font-size: 250px;
  word-spacing: 0%; }

.portfolio {
  list-style-type: none; }
